/* declaration block::
selector{
property: value;
property2: value;
}
 */
 body{background-color: rgb(200, 245, 38);
    color:rgb(201, 36, 41); 
}
nav{height: 600px;
width: 200px;
float: left;
padding: 5px;
line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
    width: 400px;
}
h1{text-align: center;}
